<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Input and Posts</title>
</head>
<body>

  <h1>Submit Your Message</h1>

  <form method="POST">
    <label><b>Enter a Message:</b></label>
    <input type="text" name="body" required>
    <button type="submit">Submit</button>
  </form>

  {% if result %}
    <h2>Program Output</h2>
    <p>{{ result }}</p>
  {% endif %}


  <!--
  <h2>All Posts (Latest First)</h2>
  {% if posts %}
    {% for post in posts %}
      <article>
        <p>{{ post['body'] }}</p>
      </article>
      {% if not loop.last %}
        <hr>
      {% endif %}
    {% endfor %}
  {% else %}
    <p>No posts yet. Be the first to submit a message!</p>
  {% endif %}
-->
</body>
</html>

